.cmp-records-view {
  max-width: 100%;
  height: 100%;
}

.cmp-records-view .cmp-records-view-table-wrapper {
  position: relative;
  overflow: auto;
  width: 100%;
  height: calc(100% - 30px);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-records-view-table-wrapper-table-content {
  position: relative;
  flex: 0.99;
  width: max-content;
  min-width: 100%;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-records-view-table-wrapper-table-content .loading-records {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  display: none;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-records-view-table-wrapper-table-content table {
  table-layout:fixed;
}

.cmp-records-view .cmp-records-view-sticky-table {
  position: absolute;
  min-width: 100%;
  z-index: 11;
}

.cmp-records-view .cmp-records-view-sticky-table table {
  table-layout: fixed;
  width: 100%;
}

.cmp-records-view .cmp-records-view-pager {
/*  border-top: solid 1px #3c3f41;*/
  height: 30px;
  background-color: #2b2b2b;
  /*user-select: none;*/
}

.cmp-records-view .cmp-records-view-pager .cmp-records-view-pager-item.pager {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
}

.cmp-records-view .cmp-records-view-pager .cmp-records-view-pager-item.pager button {
  margin-left: 5px;
}

.cmp-records-view .cmp-records-view-pager .cmp-records-view-pager-item.pager .form-control {
  padding: 3px 5px;
  font-size: 0.9rem;
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  width: 100px;
}

.cmp-records-view table {
  min-width: 100%;
  box-sizing: content-box;
  border-spacing: 0;
}
.cmp-records-view table th {
  box-sizing: content-box;
}
.cmp-records-view table tr {
  box-sizing: content-box;
}
.cmp-records-view table tr th{
  box-sizing: content-box;
}

.cmp-records-view table thead th {
  background-color: #3c3f41;
/*  border-right: solid 1px #91989c;
  border-bottom: solid 1px #91989c;
  border-top: solid 1px #91989c;*/
  padding: 0 5px;
  white-space: nowrap;
  box-sizing: content-box;
}

.cmp-records-view table thead th:first-child {
/*  border-left: solid 1px #91989c;*/
}

.cmp-records-view table thead th .column-name-wrapper {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cmp-records-view table thead th .column-name {

}

.cmp-records-view table thead th .sort-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  padding-left: 4px;
}

.cmp-records-view table thead th .sort-box button {
  padding: 0 4px;

}


/*.cmp-records-view table tbody td:first-child {
  border-left: solid 1px #91989c;
}

.cmp-records-view table tbody tr:last-child td {
  border-bottom: solid 1px #91989c;
}*/

.table-records-root .cmp-records-view-pager-root {
  display: flex;
  height: 100%;
}


.cmp-records-view-pager-root .cmp-records-view-pager-item.pager-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**   GRID   */
.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid {
  padding-right: 2px;
  padding-left: 2px;
  height: 100%;
  overflow-y: hidden;
}


/**   GRID HEADER   */
.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row {
  display: inline-flex;
  flex-direction: row;
  min-width: 100%;
}
.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell {
  flex: 1;
  white-space: nowrap;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell .column-name-wrapper {
  display: flex;
  padding: 2px 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: solid 1px #84868b;
  border-top: solid 1px #84868b;
}
.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell .column-name-wrapper .column-name {
 margin-right: 5px;
  width: 100%;
  display: block;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell:first-child .column-name-wrapper {
  border-left: solid 1px #84868b;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell .column-name-wrapper .sort-box {
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
}


.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .header-columns-row .header-cell .column-name-wrapper .column-name .column-name-skeleton {
  display: block;
  height: 19px;
  width: calc(100% + 5px);

  background: linear-gradient(-60deg, #2b2b2b 33%, #3d3d3d, #2b2b2b 66%) right/300% 100%;
  animation: move 1s linear infinite;
}

@keyframes move {
  to {background-position: left}
}

/** .data-table-content */
.cmp-records-view .cmp-records-view-table-wrapper .cmp-data-grid .cmp-records-view-table-wrapper-table-content {
  display: flex;
  flex-direction: column;
}

.cmp-records-view .cmp-records-view-table-wrapper .cmp-records-view-table-wrapper-table-content .columns-table {
  height: 21px;
  background-color: #3c3f41;
}

.cmp-records-view .cmp-records-view-table-wrapper .data-table-content {
  display: inline-flex;
  min-height: calc(100% - 25px);
  height: calc(100% - 25px);
  overflow-y: hidden;
  min-width: 100%;
}
.cmp-records-view .cmp-records-view-table-wrapper .data-table-content .data-table-content-wrapper {
  min-width: 100%;
}

.cmp-records-view .cmp-records-view-table-wrapper .data-table-content .data-table-content-wrapper .data-table-content-window {
  min-width: 100%;
  min-height: 100%;
}

.data-table-content .data-table-row {
  display: flex;
  flex-direction: row;
  height: 21px;
}
.data-table-content .data-table-row .data-table-cell {
  flex: 1;
  overflow: hidden;
  line-height: 17px;
/*  border-right: solid 1px #84868b;
  border-bottom: solid 1px #84868b;*/
  /*padding: 0 5px;*/
  white-space: nowrap;

}

.data-table-content .data-table-row .data-table-cell .data-table-cell-content {
  background-color: rgba(255, 255, 255, 0.1);
  border-right: solid 1px #84868b;
  border-top: solid 1px #84868b;
  height: 100%;
}

.data-table-content .data-table-row .data-table-cell .data-table-cell-content .dtc-content {
  padding: 2px 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.data-table-content .data-table-row .data-table-cell:first-child {
/*  border-left: solid 1px #91989c;*/
}

.data-table-content .data-table-row:last-child .data-table-cell{
/*  border-bottom: solid 1px #91989c;*/
}
