.horizontal-resizable-column-root {
  width: 15%;
  position: relative;
  height: 100%;
  background: #2f91ff;
}

.horizontal-resizable-column-root .horizontal-resizable-column-resize-panel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6px;
}

.horizontal-resizable-column-root .horizontal-resizable-column-resize-panel .horizontal-resizable-column-panel-handler {
  position: absolute;
  top: 0;
  left: 2px;
  height: 100%;
  width: 2px;
  cursor: w-resize;
  z-index: 2;
}
