.cmp-table-data {
    background-color: #4e5052;
    height: 100%;
    max-height: 100%;
}
.cmp-table-data .cmp-table-data-header{
    height: 100px;
}

.cmp-table-data .cmp-table-data-content {
    max-height: calc(100% - 100px);
    height: calc(100% - 100px);
    overflow: auto;
}


.cmp-table-data-navbar {
    display: flex;
    flex-wrap: wrap;
}
.cmp-table-data-navbar .cmp-table-data-navbar-buttons {
    display: flex;
    background-color: #2b2b2b;
}
.cmp-table-data-navbar .editor-syntax-highlighter-wrapper{
    width: 100%;
    flex: 1;
}
.cmp-table-data-navbar .cmp-table-data-navbar-buttons .icon{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cmp-table-data-navbar .cmp-table-data-navbar-buttons .icon.database-name {
    padding-left: 5px;
    padding-bottom: 4px;
    width: auto;
}

.cmp-table-data td .reference {
    text-decoration: underline;
    cursor: pointer;
}

.cmp-table-data td > .cell-filed {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cmp-table-data td > .cell-filed .form-control {
    padding: 2px 4px;
    height: 24px;
    border: 1px solid #2140a3;
}