


.button {
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0;
}

.button.normal {
  font-size: 0.7rem;
}

.button.wide {
  width: 100%;
}

/** Button */

.button.main-button {
  padding: 6px 12px;

  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
}

.button.main-button.danger .overlay {
  position: absolute;
  width: 0;
  height: 100%;
  content: ' ';
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
}

/*.button.main-button:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  clip-path: var( --button-clip-path);
  z-index: -2;
}*/

.button.main-button > span {
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  z-index: 1;
  font-size: 1.5rem;
}

.button.main-button > span > svg {
  display: inline-block;
  vertical-align: middle;
}

.button.main-button.loading > span {
  display: block;
}

/** Icon button */
.button.icon-button.normal {
  width: 2rem;
  height: 2rem;
}

.button.small {
  font-size: 1rem;
}

.button.main-button.small {
  clip-path: none;
  border-radius: 5px;
  padding: 4px 8px;
}

.button.icon-button.small {
  width: 1.5rem;
  height: 1.5rem;
}

/** Switch button */
.button-switch-root {
  display: flex;
  margin-bottom: 20px;
}

.button-switch-root .button-switch-switch {
  width: 40px;
  height: 20px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.button-switch-root .button-switch-switch:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  top: 0;
  left: -20px;
}
.button-switch-root .button-switch-switch.checked:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  top: 0;
  left: 20px;
}

.button-switch-root label {
  margin-left: 5px;
}


.button-group-root.sp50 .button.main-button{
  padding: 4px 8px;

  position: relative;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.invisible-button-root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.horizontal-button-list-root {
  display: flex;
  color: #bcc7cd;
  padding-left: 5px;
}
.horizontal-button-list-root button {
  color: #bcc7cd;
  margin-right: 5px;
}
.horizontal-button-list-root .end {
  margin-left: auto;
}
