.cmp-records-view {
    max-width: 100%;
    height: 100%;
}

.cmp-records-view .cmp-records-view-table-wrapper {
    position: relative;
    overflow: auto;
    width: 100%;
    height: calc(100% - 30px);
    padding-bottom: 15px;
}

.cmp-records-view .cmp-records-view-sticky-table {
    position: absolute;
    min-width: 100%;
}

.cmp-records-view .cmp-records-view-sticky-table table {
    table-layout: fixed;
    width: 100%;
}

.cmp-records-view .cmp-records-view-pager {
    border-top: solid 1px #3c3f41;
    height: 30px;
    background-color: #2b2b2b;
}
.cmp-records-view .cmp-records-view-pager > .row {
    margin: 0;
}


.cmp-records-view .cmp-records-view-pager .cmp-records-view-pager-item.pager {
    display: flex;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}

.cmp-records-view .cmp-records-view-pager .cmp-records-view-pager-item.pager .form-control {
    padding: 3px 5px;
    font-size: 0.9rem;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
}


.cmp-records-view table {
    min-width: 100%;
}

.cmp-records-view table thead th {
    background-color: #3c3f41;
    border-right: solid 1px #91989c;
    border-left: solid 1px #91989c;
    border-bottom: solid 1px #91989c;
    padding: 0 5px;
    white-space: nowrap;
}

.cmp-records-view table thead th .column-name-wrapper {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
}
.cmp-records-view table thead th .column-name {

}

.cmp-records-view table thead th .sort-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    padding-left: 4px;
}

.cmp-records-view table thead th .sort-box button {
    padding: 0 4px;

}

.cmp-records-view table tbody tr {
    border-bottom: solid 1px #84868b;
}

.cmp-records-view table tbody tr:hover {
    background-color: #7f7e7e;
}


.cmp-records-view table tbody td {
    border-right: solid 1px #84868b;
    border-left: solid 1px #84868b;
    padding: 0 5px;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
