
.form-control {
    color: #bcbcbc;
    background-color: #4e5052;
    border: 1px solid #54585a;
}
.form-control:focus {
    color: #bcbcbc;
    background-color: #4e5052;
    border-color: #54585a;
    outline: 0;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.nice-scrollbar::-webkit-scrollbar{
    width: 6px;
    height: 7px;
}
.nice-scrollbar::-webkit-scrollbar-thumb{
    background: #595959;
    border-radius: 10px;
}
.nice-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #828282;
}
.nice-scrollbar::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 0;
}