.editor-syntax-highlighter-wrapper {
    position: relative;
    height: 100%;
}

.editor-syntax-highlighter-wrapper > input {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;

    background-color: transparent;
    border: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: pre;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    caret-color: #91989c;
    padding: 11px 7px 7px 8px;
}

.editor-syntax-highlighter-wrapper pre {
    margin: 0 !important;
}

.editor-syntax-highlighter-wrapper pre code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: pre;
    font-weight: 400;
    font-size: 14px;
}



